.navbar {
  display: flex;
  justify-content: center; /* Centers buttons horizontally */
  align-items: center; /* Centers buttons vertically */
  height: 60px; /* Adjust as needed */
  background-color: white; /* Optional: Background color */
}

.navbar button {
  margin: 0 10px; /* Adds space between buttons */
  background-color: white;
  border: white;
  font-size: 15px;
}